.counterBody {
    background-color: #383434;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 35px;
    border-radius: 30px;
    border: solid 1px white;
    align-items: center;
    margin: 0 0 10px 15px;
}
.counter {
    background-color: #383434;
    border: none;
    color: white;
    font-size: 22px;
}
body.light .counterBody{
    color: white;
}
@media (min-width: 650px){
    .counterBody {
        width: 12%;
    }
}
@media (min-width: 1024px){
    .counterBody {
        width: 12%;
    }
}
@media (min-width: 1440px){
    .counterBody {
        width: 10%;
    }
}
@media (min-width: 1700px){
    .counterBody {
        width: 8%;
    }
}