@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap"); 

.productDiv{
    font-family:'Open Sans';
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

body.dark .productDiv{
    color: black;
}