.header {
    background-color: #222222;
    font-size: 20px;
    color: white;
    height: 72px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
  .headerContainer{
    margin-bottom: 72px;
  }

  .buscador{
    display:flex;
    align-items: center;
}
.inputBuscador{
    border-radius: 16px;
    border: solid 1px rgba(73, 79, 81, 1);
    background: url("../../assets/magnify.svg") no-repeat ;
    background-position: 95%;
    padding: 5px;
    width: 30px;
    color: white;
}
.botonAgregarProd{
    display: none;
}
.rightSide{
  display:flex;
  gap: 10px;
  align-items: center;
  font-size: 10px;
}
/* Light mode */
body.light .header{
    background-color: #efefef;
    color: black;
  }
  
@media (min-width: 425px){
    .inputBuscador{
        border-radius: 16px;
        border: solid 1px rgba(73, 79, 81, 1);
        background: url("../../assets/magnify.svg") no-repeat ;
        background-position: 95%;
        padding: 5px;
        width: 160px;
    }
}
@media (min-width: 768px){
    .botonAgregarProd{
        display:block;
        border-radius: 16px;
        border: none;
        background-color:rgba(73, 79, 81, 1);
        color:white;
        padding: 6px 6px 6px 6px;
    }
}