.mockCard{
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}
.productInfo{
    display:flex;
    align-items: center;
}
.tituloProducto{
    margin: 3px 0 0 0;
    font-weight: normal;
}
.productImg{
margin: 5px 5px 5px 5px;
}
.idNumber{
    font-size: 14px;
}