.tarjeta{
    position: relative;
    display: flex;
    border-radius: 16px;
    flex-direction: row;
    background-color: #494F51;
    color: white;
    height: 45px;
    width: 55%;
    padding-top: 13px;
    padding-left: 13px;
    justify-content: space-between;
    margin: 5px 0px;
    align-items: center;

}

.tarjeta ol{
    display: flex;
    right: auto;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.tarjeta ol li{
    margin: 2px;
}

.tarjeta button{
    border-radius: 16px;
    padding: 5px;
    color:white;
    background-color: gray;
}

.botones{
    display: flex;
    justify-content: space-between;
    left: 5px;
}