.sideBar{
    width: 296px;
    height: 100vh;
    position: absolute;
    left: -296px;
    background-color: #222222;
}
@media (min-width: 1024px){
    .sideBar{
        position: relative;
        left: 0px;
    }
}